.hero{
    height: 100vh;
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 180px;
    line-height: 1;
    color: black;
    font-size: 26px;
    font-weight: 500;
    margin-top: 90px;
}
.hero-left p{
    color: #171717;
    margin: 0;
    font-size: clamp(48px, 6vw, 80px);
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
    line-height: 1;
}
.hero-hand-icon img{
    width: 115px; height: 110px;
}
.hero-latest-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
   margin-top: -60px;
    align-items: center;
   justify-content: center;
}
