.allcategory-banner{
   display: block;
   margin-left: 950px;
   height: 250px;
   width: 20%; 
}
.allcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.drop{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888; 
    width: 10.5%; 
    cursor: pointer;
}
.allcategory-indexSort p span{
    font-weight: 600;
  
}
.allcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;  
}
.drop img{
  width: 20px; height: 20px;
}
.category-header {
  display: flex;            
  justify-content: space-between;      
  margin-right: 40px;         
}

.allcategory-loadmore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
.category-text {
  display: flex;
 
  align-items: flex-start;
  
  gap: 10px;
}
.category-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 10px;
  margin-left: 165px ;
}
.category-description {
  flex: 1;
  max-width: 500px;
  margin-top: 15px;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}