.item {
  width: 260px;
}

.item-img {
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: grey;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: rgb(215, 210, 210);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}