.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 50%);
    width: 77%;
    margin: 0 auto;
    margin-bottom: 300px;
}
.new-collections h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 30px;
    margin-top: 50px;
}
.item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
