.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 50%);
    width: 80%;
    margin: 0 auto;
}
.popular h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
