.productdisplay {
  display: flex;
  gap: 60px;
  margin: 20px 140px;
  align-items: flex-start;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
    align-items: flex-start;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px; 
}
.productdisplay-img-list img{
    object-fit: cover;
    border-radius: 6px;
    height: 190px;
}
.productdisplay-img{
     flex-shrink: 0;
}
.productdisplay-main-img{
    width: 586px;
    height: 600px;
    object-fit: cover;
    border-radius: 6px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
   display: flex;
   align-items: center;
   margin-top: 13px;
   gap: 5px;
   color: #1c1c1c;
   font-size: 16px;
}
.productdisplay-right-prices
{
    display: flex;
    margin: 10px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-quantity h1{
    margin-top: 10px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-size{
    display: flex;
    margin: 2px; 
    padding-top:5px ;
    gap: 10px;
}
.productdisplay-right-size div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right-category{
   margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
.productdisplay-right-quantity{
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    gap: 5px;                
    margin-top: 10px;
}
.productdisplay-right-quantity button{
    width: 40px;
    height: 36px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.productdisplay-right-quantity span{
    margin: 0 12px;
    min-width: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}